$user_ : #9B51E0;

.chatbox { 
  padding: 0 0 50px 0;
  &__users {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
  }
  &__container {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }
  &__messages {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
    &-form { 
      input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
      }
    }
    &-input {
      border: 1px solid #c4c4c4;
      position: relative;
    }
    &-button {
      background: #05728f none repeat scroll 0 0;
      border: medium none;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      font-size: 17px;
      height: 33px;
      position: absolute;
      right: 0;
      top: 11px;
      width: 33px;
    }
    &-history {
      height: 516px;
      overflow-y: auto;
    }
  }
}

.person {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  &__name {
    float: left;
    padding: 10px 0 0 15px;
    width: 88%;
    span { 
      font-size:15px;
    }
  }
  &__img {
    float: left;
    width: 11%;
  }
  &__container { 
    overflow:hidden; 
    clear:both;
  }
}

.login {
  color: #05728f;
  max-width: 600px;
  margin: 0 auto;
  &__block {
    margin: 30% 0 0 10%;
  }
  &__input {
    margin: 5% 0 0 20%;
  }
}

.sent_msg {
  float: right;
  width: 46%;
  & p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }
}

.received_withd_msg { 
  width: 57%;
  & p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    & span {
      color: black;
    }
  }
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
img { 
  max-width:100%;
}
.outgoing_msg { 
  overflow:hidden; margin:26px 0 26px;
}